<footer class="row">
    <div class="col-12 col-md-3 alinea-centro ft-logo">
        <a href="/"><img class="logo logo-footer img-fluid"
                src="/image/utils/logo-pestaña.png"></a>
    </div>
    <div class="col-12 col-md-6 alinea-centro">
        <a href="https://m.facebook.com/profile.php?id=1334834159998638&ref=content_filter">
            <div class="social f alinea-centro">
                <i class="fab fa-facebook-f"></i>
            </div>
        </a>
        <a href="https://twitter.com/ImprentaOcean">
            <div class="social t alinea-centro">
                <i class="fab fa-twitter"></i>
            </div>
        </a>
        <a href="https://www.instagram.com/imprentaocean168/">
            <div class="social i alinea-centro">
                <i class="fab fa-instagram"></i>
            </div>
        </a>
        <a href="">
            <div class="social p alinea-centro">
                <i class="fab fa-pinterest-p"></i>
            </div>
        </a>
        <a href="https://goo.gl/maps/fnJUvrdhFwx">
            <div class="social m alinea-centro">
                <i class="fas fa-map-marker-alt"></i>
            </div>
        </a>
        {{!-- <div class="nosotros">
            <p class="noso">Acerca</p>
            <p class="noso"></p>
        </div> --}}
    </div>
    <div class="col-12 col-md-3">
        <div class="direccion">
            <p class="dire-dire">
                Contacto: <br>
                oceancorp168@gmail.com <br><br>
                Río Rhin s/n,<br>
                Colinas del Río, 20010 <br>
                Aguascalientes, Ags.
            </p>
        </div>
    </div>
    <div class="col-12 eslogan">
        No hay límites para tus ideas.
    </div>
</footer>