<header class="row">
    <div class="col-8 col-sm-3 col-lg-3 alinea-centro">
        <a href="/"><img class="logo" src="/image/utils/logo-principal.png"></a>
    </div>
    <div class="col-4 alinea-centro anvurgesa">
        <i class="fas fa-bars icon" id="anvurgesa"></i>
    </div>
    <nav class="col-12 col-sm-6 col-lg-6 alinea-centro" id="navbar">
        <ul>
            <li class="azu"><a href="/">Inicio</a></li>
            <li class="ojo"><a href="/Productos">Productos</a></li>
            <li class="mari"><a href="/Servicios">Servicios</a></li>
        </ul>
    </nav>
    <div class="col-12 col-sm-3 col-lg-3 nav-perfil" id="navPerfil">
        <div class="img-perfil" id="perfil">
            {{#if user}}
                <img class="img-fluid" src="{{host}}/{{user.Foto_Perfil}}">
            {{else}}
                <img class="img-fluid" src="/image/utils/Perfil.jpeg">
            {{/if}}
        </div>

        {{!-- TARJETA DEL USUARIO --}}
        {{> targeta-login}}

        {{#if user}}
            <i id="carrito" class="fas fa-shopping-cart carrito carri"></i>
        {{/if}}
        {{!-- TARJETA DE CARRITO --}}
        {{> carrito}}
    </div>
</header>