<section class="crear-cuenta">
    <div class="cuenta">
        <h2 class="text-center">Inicia sesión</h2>
        <div class="w-50 mx-auto my-3">
            <img class="img-fluid" src="/image/utils/logo-pestaña.png">
        </div>
        <form method="POST" action="/Login">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre de usuario" name="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" name="Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-ocean-azul btn-block">Iniciar sesión</button>
            </div>
        </form>
        <hr>
        ¿Eres nuevo en Ocean? <a href="/Registro">Crea una cuenta de Ocean</a>
    </div>
</section>