.crear-cuenta {

}

.cuenta {
    background-color: #fff;
    padding: 2% 3%;
    margin: 30px 25%;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-shadow: #ccc 0px 3px 12px 0px;
}

@media (max-width:767px) {
    .cuenta {
        margin: 15px 2%;
    }
}